@page "/todo"
@rendermode InteractiveServer

<PageTitle>To do</PageTitle>

<h3>To do list</h3>
<h4>Tasks left: @todos.Count(todo => !todo.IsDone)</h4>

<ul>
    @foreach (var todo in todos)
    {
        <li class="mb-3">
        <input type="checkbox" @bind="todo.IsDone" />
        <input @bind="todo.Title" />
        </li>
    }
</ul>
<input @bind="newTodo"/>
<button @onclick="AddTodo">Add a task</button>


@code {
    private List<TodoItem> todos = new();
    string newTodo = "";

    void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}
